  body{
            margin:0;
            font-family: monospace;
            background-color:rgba(204, 204, 204, 0.21); 
        }
        #header{
            height:150px;
            background-color:#FF5722;
            color:white;
            margin-top: -17px;
        }
        nav{
            margin-top:60px;
            margin-left:auto;
            margin-right:auto;
            display:table;
        }
        nav a{
            margin:5px;
            text-decoration:none;
            color:black;
            background-color: white;
			font-size: 20px;
            padding: 10px;
        }
        nav a:hover{
            background-color:firebrick;
            color:white;
            transform: perspective(2,0);
        }
        #wrapper-content{
    		height:600px;  
		}

        .content{
            margin-top: 40px;
			display:inline-block;
		}
        .content img{
		    width: 150px;
		    height: 120px;
	        margin-left: 20px;
	        background-color: rgba(255, 87, 34, 0.52);
		    padding: 1px;
		    float: left;
		}
		.content h2{
		    margin-left: 180px;
		    color:#FF5722;
		}
		.content h4{
		    margin-left: 180px;
		}
		.center{
			padding-top:20px;
			text-align:center;
		}
		 #footer{
            height:100px;
            background-color:#FF5722;
            color:white;
            font-size:30px;
        }